.wish h1 {
  color: rgb(34, 38, 42);
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 36px;
}
